<template>
  <div class="products">
    <ProductsContent />
  </div>
</template>

<script>
// @ is an alias to /src
import ProductsContent from '../components/content/ProductsContent.vue';

export default {
  name: 'Products',
  components: {
    ProductsContent,
  },
};
</script>
