<template>
  <div class="store">
    <StoreContent />
  </div>
</template>

<script>
// @ is an alias to /src
import StoreContent from '../components/content/StoreContent.vue';

export default {
  name: 'Store',
  components: {
    StoreContent,
  },
};
</script>
