<template>
  <div>
    <a-layout-header style="background:white">
      <div class="logo" />

      <a-menu
        theme="light"
        mode="horizontal"
        :default-selected-keys="['2']"
        :style="{ lineHeight: '64px' }"
      >
        <a-menu-item key="1">
          <router-link to="/">Home</router-link>
        </a-menu-item>
        <a-menu-item key="2">
          <router-link to="/products">Products</router-link>
        </a-menu-item>
        <a-menu-item key="3">
          <router-link to="/about">About</router-link>
        </a-menu-item>
        <a-menu-item style="width:500px"></a-menu-item>
        <a-menu-item key="4">
          <a-input-search placeholder="Search" style="width: 250px" />
        </a-menu-item>
        <a-menu-item key="5">
          <a-badge :count="1">
            <router-link to="/store">
              <a-icon type="shopping-cart" :style="{ fontSize: '25px' }"
            /></router-link>
          </a-badge>
        </a-menu-item>

        <a-avatar size="large" icon="user" />
      </a-menu>
    </a-layout-header>
  </div>
</template>

<script>
export default {
  name: 'Header',
};
</script>

<style scoped>
.logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 2px 24px 0px 0;
  float: left;
  background-image: url(../../assets/logo.jpg);
}
</style>
