<template>
  <div>
    <a-layout id="components-layout-demo-top" class="layout">
      <Header />
      <router-view></router-view>
      <Footer />
    </a-layout>
  </div>
</template>

<script>
import Header from './header/Header.vue';
import Footer from './footer/Footer.vue';

export default {
  name: 'Page',
  components: { Header, Footer },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
#components-layout-demo-top .logo {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin: 2px 24px 0px 0;
  float: left;
  background-image: url(../assets/logo.jpg);
}
</style>
