<template>
    <div>
<a-layout-footer style="text-align: center" id="footer">
        Ant Design ©2018 Created by Ant UED
      </a-layout-footer>
    </div>
</template>

<script>
    export default {
        name: 'Footer',
    }
</script>

<style scoped>
#footer {
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #6cf;
}
</style>