<template>
  <div>
    <a-layout-content style="padding: 0 50px">
      <Carousel />

      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
      </a-breadcrumb>

      <div :style="{ background: '#fff', padding: '24px', minHeight: '500px' }">
        <div>Hàng mới về</div>
        <a-row>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
        </a-row>
      </div>
      <div :style="{ background: '#fff', padding: '24px', minHeight: '500px' }">
        <div>Mua nhiều nhất</div>
        <a-row>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
        </a-row>
      </div>
      <div :style="{ background: '#fff', padding: '24px', minHeight: '500px' }">
        <div>Hàng khuyến mãi</div>
        <a-row>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
          <a-col :span="6">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"
              />
              <a-card-meta title="Europe Street beat">
                <template slot="description">
                  www.instagram.com
                </template>
              </a-card-meta>
            </a-card>
          </a-col>
        </a-row>
      </div>
    </a-layout-content>
  </div>
</template>

<script>
import Carousel from './Carousel.vue';
export default {
  name: 'HomeContent',
  components: { Carousel },
};
</script>

<style scoped></style>
