<template>
  <div>
    <a-layout-content style="padding: 0 50px">
      <Carousel />

      <a-breadcrumb style="margin: 16px 0">
        <a-breadcrumb-item>Home</a-breadcrumb-item>
        <a-breadcrumb-item>Products</a-breadcrumb-item>
      </a-breadcrumb>

      <div :style="{ background: '#fff', padding: '24px', minHeight: '500px' }">
        <a-row>
          <a-col :span="6" v-for="product in products" :key="product">
            <a-card hoverable style="width: 240px">
              <img
                slot="cover"
                alt="example"
                :src="product.img"
                :style="{ height: '200px' }"
              />
              <a-card-meta :title="product.title">
                <template slot="description">
                  <div class="test">{{ product.description }}</div>
                </template>
              </a-card-meta>
              <div :style="{ padding: '10px' }">
                {{ product.price }}
                <a-button type="danger">Add Cart</a-button>
              </div>
            </a-card>
          </a-col>
        </a-row>
      </div>
    </a-layout-content>
  </div>
</template>

<script>
import Carousel from './Carousel.vue';
import json from '../../json/MOCK_DATA.json';
export default {
  name: 'HomeContent',
  components: { Carousel },
  data() {
    return {
      products: [
        {
          id: 1,
          title: 'a',
          des: 'hoai',
          price: 100000,
          type: 'nam',
          img: 'https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png',
        },
      ],
    };
  },
  created() {
    this.products = json;
    console.log(this.products, 'hoài');
  },
};
</script>

<style scoped>
.test {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 12px * 1.4 * 2; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.4;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
